doctype html
html(lang=`${locale}`)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content=`${__("description")}`)
		title #{__("title")}
		link(rel="shortcut icon" href="icon.svg" type="image/svg+xml")
		style
			include style.css
	body
		header
			h1 Daniele Ambrosino
			h2 #{__("jobTitle")}
			address
				a(href="mailto:mail@danieleambrosino.it") Email
				|  • 
				a(target="_blank" href="https://github.com/danieleambrosino") GitHub
				|  • 
				a(target="_blank" href="https://www.linkedin.com/in/daniele-ambrosino/") LinkedIn

		nav
			a(href='#about') #{__("about")}
			a(href='#experience') #{__("experience")}
			a(href='#education') #{__("education")}
			a(href='#skills') #{__("skills")}

		main
			section#about
				h2= __("about")
				picture
					source(srcset='/images/profile.avif' type='image/avif')
					source(srcset='/images/profile.webp' type='image/webp')
					img(src='/images/profile.jpeg' width='144' height='144' alt='Foto profilo')
				block about

			section#experience
				h2= __("experience")
				block experience

			section#education
				h2= __("education")
				block education

			section#skills
				h2= __("skills")
				h3 Linguaggi e framework
				p.icons
					include ../images/icons/php/php-plain.svg
					include ../images/icons/symfony/symfony-original.svg
					include ../images/icons/laravel/laravel-plain.svg
					include ../images/icons/nodejs/nodejs-plain.svg
					include ../images/icons/express/express-original.svg
					include ../images/icons/denojs/denojs-original.svg
					include ../images/icons/java/java-plain.svg
					include ../images/icons/spring/spring-plain.svg
					include ../images/icons/cplusplus/cplusplus-plain.svg
					include ../images/icons/python/python-plain.svg
					include ../images/icons/html5/html5-plain.svg
					include ../images/icons/css3/css3-plain.svg
					include ../images/icons/javascript/javascript-plain.svg
					include ../images/icons/typescript/typescript-plain.svg
					include ../images/icons/svelte/svelte-plain.svg
					include ../images/icons/kotlin/kotlin-plain.svg
				h3 Database
				p.icons
					include ../images/icons/postgresql/postgresql-plain.svg
					include ../images/icons/mysql/mysql-plain.svg
					include ../images/icons/sqlite/sqlite-plain.svg
					include ../images/icons/redis/redis-plain.svg
					include ../images/icons/mongodb/mongodb-plain.svg
					include ../images/icons/firebase/firebase-plain.svg
				h3 Strumenti e sistemi
				p.icons
					include ../images/icons/git/git-plain.svg
					include ../images/icons/nginx/nginx-original.svg
					include ../images/icons/docker/docker-plain.svg
					include ../images/icons/debian/debian-plain.svg
					include ../images/icons/ansible/ansible-plain.svg
					include ../images/icons/vscode/vscode-plain.svg


		footer
			| &copy; Daniele Ambrosino 2022-2023
			br
			| #{__("vatCode")} 07161690487